/* General Styles */
body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #f0f4f8;
}

.navbar {
    background-color: #B3CDE0; 
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-nav .nav-link {
    color: #005073; 
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #023E58;
}

.navbar-nav .btn-dark {
    background-color: #0277BD;
    color: #ffffff;
    font-weight: 700;
}

.site-logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: #005073; 
}

.blog-section {
    padding: 7rem 2rem;
    text-align: center;
    background-color: #E6F0F8;
}

.blog-section h1 {
    font-size: 2.2rem;
    color: #005073;
    margin-bottom: 30px;
}

.blog-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
}

.blog-card {
    border: 1px solid black;
    padding: 20px;
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
}

.blog-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
    max-height: 250px;
    object-fit: cover;
}

.blog-card h2 {
    font-size: 1.4rem; 
    color: #005073;
    margin-bottom: 10px;
}

.blog-card p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 15px;
}

.blog-card button {
    background-color: #0277BD;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 0.9rem;
    cursor: pointer;
}

.blog-card button:hover {
    background-color: #005073;
}

.blog-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .blog-grid {
        grid-template-columns: 1fr;
    }
}

.buttons .btn-primary {
    background-color: #0277BD;
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.buttons .btn-primary:hover {
    background-color: #005073;
}

/* Footer Styles */
footer {
    background-color: #A3D1E1;
    padding: 20px;
    text-align: center;
    color: #004d73;
    font-size: 1rem;
}

@media (max-width: 768px) {
    .features-section {
        padding: 6rem 1rem; 
    }

    .features-section h1 {
        font-size: 1.5rem; 
        margin-bottom: 20px; 
    }

    .features-section .fa-3x {
        font-size: 2rem; 
    }

    .features-section .col-md-6 {
        width: 100%; 
        margin-bottom: 20px; 
    }

    .features-section p {
        font-size: 1rem; 
        margin-bottom: 20px; 
    }

    .buttons .btn-primary {
        font-size: 0.9rem;
        padding: 8px 16px;
    }

    footer {
        padding: 15px;
        font-size: 0.9rem;
    }
}
